$rugcard-width: 250px;

.rugCard {
    margin: 0 auto;
    transition: 1s;
    width: $rugcard-width;
    box-shadow: 2px 2px 25px rgba(0,0,0,.1);
    border-radius: .25em;
    overflow: hidden;
    .content {
        padding: 1em;
        h4 {
            text-transform: uppercase;
            margin: 0 0 .25em;
            color: black;
        }
        p {
            margin: 0;
            color: rgb(100,100,100);
            margin-bottom: .5em;
            font-size: .75em;
        }
        .footer {
            display: flex;
            margin-bottom: .5em;
            .swatchContainer {
                display: flex;
                text-align: center;
                border: 1px solid #ffffff;
                border-radius: 50%;
                overflow: hidden;
                height: 2em;
                width: 2em;
                margin-right: .25em;
                .swatch {
                    border: none;
                    border-radius: 50%;
                    margin: auto;
                    padding: 0;
                    height: 90%;
                    width: 90%;
                    cursor: pointer;
                    position: relative;
                }
                &:hover {
                    border: 1px solid grey;
                }
            }
            .activeSwatch {
                border: 1px solid black;
            }
            
            a {
                font-size: .75em;
                margin: auto;
            }
        }
    }
    &:hover {
        box-shadow: 4px 4px 25px rgba(0,0,0,.5);
    }
}