.main {
    display: flex;
    margin-bottom: .5em;
    button {
        margin: auto 0;
        width: 1em;
        height: 1em;
        background: none;
        border:none;
        cursor: pointer;
        svg {
            height: 1em;
        }
    }
    .footer {
        display: inline-flex;
        & > div {
            margin-right: .15em;
        }
    }
    & > button:first-child {
        margin-right: .55em;
        svg {
            transform: rotate(180DEG);
        }
    }
}