.main {
    display: flex;
    justify-content: space-around;
    margin-bottom: .5em;
    height: auto;
    button {
        margin: auto;
        width: 1em;
        height: 1em;
        background: none;
        border:none;
        cursor: pointer;
        svg {
            height: 1em;
        }
    }
    & > button:first-child {
        margin-right: .5em;
        svg {
            transform: rotate(180DEG);
        }
    }
}