@import "../cards/RugCard.module.scss";

.main {
    text-align: left;
    .rugContainer {
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: 1em;
        list-style: none;
        grid-template-columns: repeat(auto-fit, minmax($rugcard-width, 1fr));
    }
}